name: Lightning CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      # Optional smoke test
      #- name: Run smoke test
      #  run: node app.js & sleep 2 && kill $!

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: docker build -t ghcr.io/wilson7777777/lightning-devops-mini-pipeline:latest .

      - name: Push Docker image
        run: docker push ghcr.io/wilson7777777/lightning-devops-mini-pipeline:latest

